{% extends 'base.html' %}
{% block title %}
    Welcome to Twitter Mock!
{% endblock %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Twitter Mock</h1>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <!-- Create Post Form -->
                <form method="POST" action="{{ url_for('create_post') }}">
                    {{ create_post_form.hidden_tag() }}
                    <div class="form-group">
                        {{ create_post_form.title.label(class="form-control-label") }}
                        {{ create_post_form.title(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ create_post_form.body.label(class="form-control-label") }}
                        <textarea name="body" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Post</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Posts</h2>
                <ul class="list-group">
                    {% for post in posts %}
                        <li class="list-group-item" style="color:black">
                            <h4>{{ post.title }}</h4>
                            <p>{{ post.body }}</p>
                            <p><small>Owner: {{ post.owned_user.username }}</small></p>
                            {% if post.owned_user.id == current_user.id %}
                                <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-primary btn-sm">Edit</a>
                                <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-danger btn-sm">Delete</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}