{% extends 'base.html' %}
{% block title %}
    Age Verification
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form method="POST" action="{{ url_for('age_check_page') }}" class="form-register" style="color:white;">
                    {{ form.hidden_tag() }}
                    <h1 class="h1 mb-4 font-weight-bold">
                        AGE VERIFICATION
                    </h1>
                    <div class="form-group mb-4 d-flex justify-content-center">
                        <label for="date_of_birth" class="sr-only">Date of Birth:</label>
                        <input type="date" id="date_of_birth" name="date_of_birth" class="form-control rounded-pill text-center" required max="{{ current_datetime.strftime('%Y-%m-%d') }}">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-login">Verify</button>
                </form>
            </div>
        </div>
    </div>
</body>

<style>
    .form-control {
        height: 50px;
    }

    .rounded-pill {
        width: 400px;
        border-radius: 0;
    }

    .btn-login {
        width: 100px;
        border-radius: 0;
    }
</style>

{% endblock %}