{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="POST" action="{{ url_for('login_page') }}" class="form-register" style="color:white;">
                    {{ form.hidden_tag() }}
                    <img class="mb-4" src="https://imgur.com/ANK8c20.png" alt="">
                    <h1 class="h1 mb-3 font-weight-bold">
                        LOGIN
                    </h1>
                    <br>
                    <div class="form-group">
                        {{ form.username(class="form-control rounded-pill text-center", placeholder="Username") }}
                    </div>

                    <div class="form-group">
                        {{ form.password(class="form-control rounded-pill text-center", placeholder="Password") }}
                    </div>

                    <div style="margin-bottom: 20px;"></div>

                    <button type="submit" class="btn btn-lg btn-block btn-primary btn-login">Login</button>

                    <div class="mt-3">
                        <p class="text-white mb-1">Do not have an account?</p>
                        <a href="{{ url_for('register_page') }}" class="btn btn-sm btn-secondary">Register</a>
                        <p class="text-white mt-1">Forgot your password? <a href="{{ url_for('forgot_password') }}">Reset it</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<style>
    .form-control {
        height: 50px;
        margin: auto;
    }

    .rounded-pill {
        width: 400px;
        border-radius: 0;
    }

    .btn-login {
        width: 100px;
        border-radius: 0;
        margin: auto;
    }
</style>

{% endblock %}